* {
    margin: 0;
    padding: 0;
}
body {
    /* max-width: 100vw; */
    overflow-x: hidden;
    background-color: #0e0819;
}
.gradient {
    background: linear-gradient(
        to right,
        rgba(43, 154, 255, 1),
        rgba(90, 47, 255, 0.67),
        rgba(156, 33, 209, 0.76),
        rgba(211, 72, 149, 0.79)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
a {
    color: inherit;
    text-decoration: none;
}
.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 4vw 5vw;
    line-height: 50px;
    /* position: fixed; */
}
.nav-logo {
    font-family: Poller One;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
#nav-options-list {
    display: flex;
    list-style: none;
    width: 50%;
}
.nav-option {
    font-family: Outfit;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width: 25%;
}
.nav-option-diffrent {
    font-family: Poppins !important;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #000;
}
.hamburger {
    display: none;
}
.hero-section {
    background-image: url(HeroSection.png);
    background-size: cover;
    color: white;
    height: 44rem;
    position: relative;
}
.hero-section-tagline {
    position: absolute;
    margin: 0 10vw;
    top: 20%;
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: center;
}
.hero-section-content {
    margin: 0 10vw;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    font-family: Outfit;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
}
.hero-section-links {
    margin: 4% 30% 0 30%;
    display: flex;
    justify-content: space-between;
    gap: 35%;
    color: white;
}
.hero-section-link {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border: 1px solid white;
}
.hero-section-linkone {
    background-color: #fff;
    color: #000;
}
.whyus {
    padding: 10vh 10vw;
    color: white;
}
.whyus-define {
    font-family: Poppins;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
}
.whyus-question {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 6rem;
    text-align: center;
}

.whyus-boxrow {
    display: flex;
    gap: 30%;
}

.whyus-box {
    width: 35%;
    height: 17rem;
    background: linear-gradient(
        180deg,
        rgba(90, 47, 255, 0.67) 0%,
        rgba(211, 72, 149, 0.79) 33.54%,
        rgba(156, 33, 209, 0.76) 67.92%,
        rgba(90, 47, 255, 0.67) 97.08%
    );
    padding: 2px;
}
.whyus-box-content {
    height: calc(100% - 4vh);
    background: linear-gradient(
        112.29deg,
        rgb(103, 103, 103) 0%,
        rgb(122, 122, 122) 0.01%,
        rgb(60, 60, 60) 100%
    );
    padding: 2vh 2vw;
}
.whyus-box-heading {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 2vw;
}
.whyus-box-define {
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}
.whyus-circle {
    margin: 0% 35%;
    aspect-ratio: 1/1;
    width: 30%;
    background: radial-gradient(rgba(9, 118, 251, 0.3), #0e0819 70%);
}
#Projects {
    color: white;
}
.Portfolio-pics {
    display: grid;
    place-items: center;
    display: flex;
    width: 80vw;
    padding: 0 10vw;
    gap: 1rem;
}
.Portfolio-pics-box {
    /* border: 1px solid red; */
    border-radius: 1.25rem;
    margin-top: 1rem;
    position: relative;
}
.Portfolio-pics-left {
    width: 70%;
}
.Portfolio-pics-left1 {
    background-image: url(project-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}
.Portfolio-pics-left2 {
    background-image: url(project-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
}
.Portfolio-pics-right {
    width: 30%;
}
.Portfolio-pics-right1 {
    background-image: url(project-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}
.Portfolio-pics-right2 {
    background-image: url(project-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}
.Portfolio-pics-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000005c;
    display: none;
    z-index: 1;
    border-radius: 1.25rem;
}
.Portfolio-pics-Button {
    background-color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}
.Portfolio-pics-box:hover {
    .Portfolio-pics-overlay {
        display: grid;
    }
    .Portfolio-pics-Button {
        display: grid;
    }
}
.flow {
    margin: 10rem 0rem;
    color: white;
}
.flowstep {
    display: grid;
    place-items: center;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
    margin-top: 3rem;
    color: gray;
}
.flowstep1 {
    color: white !important;
    .flowstep-no-wrapper {
        background: linear-gradient(
            89.34deg,
            #2b9aff 0.62%,
            rgba(100, 24, 255, 0.730135) 29.1%,
            rgba(156, 33, 209, 0.76) 68.26%,
            rgba(211, 72, 149, 0.79) 95.85%
        ) !important;
    }
    .flowstep-content {
        border-color: white !important;
    }
}
.flowstep:hover {
    color: white;
    .flowstep-no-wrapper {
        background: linear-gradient(
            89.34deg,
            #2b9aff 0.62%,
            rgba(100, 24, 255, 0.730135) 29.1%,
            rgba(156, 33, 209, 0.76) 68.26%,
            rgba(211, 72, 149, 0.79) 95.85%
        );
    }
    .flowstep-content {
        border-color: white;
    }
}
.flowstep-no-wrapper {
    width: 3%;
    aspect-ratio: 1/1;
    text-align: center;
    margin-top: 3vh;
    background: none;
    border-radius: 50%;
    padding: 1px;
    margin-left: 5vw;
}
.flowstep-no {
    line-height: 2rem;
    background-color: #0e0819;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
}
.flowstep-content {
    margin: 0 0% 0 5%;
    width: 80%;
    border: 2px dotted gray;
    border-radius: 2rem;
    padding: 2rem;
    margin-right: 15vw;
}
.flowstep-content-heading {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: left;
}
ol {
    margin-left: 2rem;
}
.flowstep-content-objectives {
    font-family: Outfit;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
}
#Pricing {
    color: white;
}
.Pricing-boxes {
    display: flex;
    margin: 3rem 15rem;
    gap: 8%;
}
.Pricing-box-wrapper {
    background: linear-gradient(
        339.16deg,
        rgba(211, 72, 149, 0.79) 1.98%,
        rgba(156, 33, 209, 0.76) 2.98%,
        rgba(255, 255, 255, 0.51) 50%
    );
    padding: 2px;
    width: 100%;
    height: 25rem;
    border-radius: 2rem;
}
.Pricing-box {
    background: linear-gradient(
        200.29deg,
        #53555e 0.88%,
        rgb(62, 62, 62) 49.44%
    );
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    border-radius: 2rem;
    padding: 1rem;
}
.Pricing-box-innner {
    background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(182, 145, 255, 0.4) 67.71%,
        rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    width: 100%;
}
.Pricing-box-heading1 {
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
}
.Pricing-box-heading2 {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 600;
    line-height: 5rem;
    text-align: center;
}
.Pricing-box-list {
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: left;
}
.Pricing-box-list-item {
    margin-top: 1.4rem;
}
.Pricing-box-down {
    margin-top: 7rem;
}
#Connect {
    color: white;
    display: grid;
    text-align: center;
    place-items: center;
    margin: 10rem 0;
}
.Connect-logo {
    font-family: Poller One;
    font-size: 3rem;
    font-weight: 400;
    width: 25rem;
    line-height: 5.5rem;
    margin: 0 38%;
    margin-top: 3rem;
    background: rgba(119, 45, 255, 1);
    clip-path: polygon(
        0 50%,
        10% 0,
        90% 0,
        100% 50%,
        100% 50%,
        90% 100%,
        10% 100%,
        0% 50%,
        0% 10%
    );
}
.Connect-wrapper-card {
    margin: 2rem 0;

    width: 30rem;
    height: 35rem;
    background: linear-gradient(
        90.02deg,
        #2b9aff 0%,
        rgba(90, 47, 255, 0.67) 35.12%,
        rgba(156, 33, 209, 0.76) 72.58%,
        rgba(211, 72, 149, 0.79) 110.62%
    );
    padding: 2px;
    border-radius: 2rem;
}
.Connect-card {
    background: linear-gradient(
        200.29deg,
        #53555e 0.88%,
        rgb(62, 62, 62) 49.44%
    );
    height: calc(100% - 4rem);
    padding: 2rem;
    border-radius: 2rem;
}
.Connect-input {
    width: calc(100% - 1rem);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0.5rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    color: rgb(50, 50, 50);
}
.Connect-textarea {
    width: calc(100% - 1rem);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin: 2rem 0;
    outline: none;
    resize: none;
    height: 40%;
    padding: 0.5rem;
    color: rgb(50, 50, 50);
}
.Connect-submit {
    margin-top: 0;
}
.footer {
    color: white;
    height: 15rem;
}
.links {
    display: flex;
    padding: 0 10vw;
    height: 100%;
    justify-content: space-between;
}
.logo {
    font-family: Poller One;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 10rem;
    letter-spacing: 0em;
    text-align: left;
}
.contact {
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: left;
}
.contact-item {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.icons {
    margin-top: 3rem;
}
.icon {
    height: 2.5rem;
    width: 3rem;
}
.copyright {
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0em;
}
@media only screen and (max-width: 440px) {
    html {
        font-size: 50%;
    }
    .navbar {
        position: sticky;
        z-index: 5;
    }
    .hamburger {
        display: grid;
        z-index: 2;
    }
    #nav-options-list {
        display: none;
        position: absolute;
        margin-top: 7%;
        top: 7%;
        left: 0%;
        right: 0%;
        z-index: 1;
        background-color: #0e0819d0;
        width: 100vw;
    }
    .nav-option {
        width: 100vw;
        text-align: center;
    }
    .nav-option-diffrent {
        margin-left: 42%;
    }
    .hero-section {
        height: 60rem;
        background-image: none;
    }
    .hero-setion-tagline {
        font-size: 30% !important;
    }
    .hero-section-content {
        display: grid;
        place-items: center;
        margin: 0 40vw;
    }
    .hero-section-define {
        /* display: none; */
        margin: 0 -30vw;
    }
    .hero-section-links {
        display: grid;
        margin: 100% 0% 0% 0%;
    }
    .whyus-boxrow {
        gap: 10%;
        margin-top: 8rem;
        display: grid;
        place-items: center;
    }
    .whyus-box {
        width: 60%;
        height: 20rem !important;
    }
    .whyus-box-content {
        height: calc(100% - 8vh);
        padding: 4vh 4vw;
    }
    .whyus-circle {
        display: none;
    }
    .flowstep {
        margin: 3rem 1rem;
        margin-left: 3rem;
    }
    .flowstep-no-wrapper {
        width: 5%;
    }
    .flowstep-content {
        margin-right: 0;
    }
    .Pricing-boxes {
        margin: 3rem 12rem;
        display: grid;
        gap: 3%;
    }
    .Pricing-box-wrapper {
        height: 30rem;
    }
    .Pricing-box-heading1 {
        font-size: 2.5rem;
        line-height: 6rem;
    }
    .Pricing-box-heading2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .Pricing-box-list {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .Pricing-box-down {
        margin-top: 0;
    }
    .links {
        flex-direction: column;
        height: 110%;
        text-align: center;
    }
    .footer {
        height: 30rem;
    }
}
